<ion-view view-title="Meus Torneios">
<!--
  <ion-tabs class="tabs-dark tabs-icon-top">
   <ion-tab title="Criados" icon-on="ion-ios-list" icon-off="ion-ios-list-outline">
     <ion-content id="imagebg">
       <br />
       <br />
       
     </ion-content>
   </ion-tab>

   <ion-tab title="Disputados" icon-on="ion-ios-football" icon-off="ion-ios-football-outline">

    <ion-content has-header="true" padding="false" id="imagebg">
      <br />
      <br />
      {{torneios}}

    </ion-content>
  </ion-tab>        
</ion-tabs>
-->
<ion-content>
<ion-list>
           <ion-item class="item item-icon-left" ng-repeat="(key, value) in torneios track by $index" href="#/app/torneiosTodosDetalhes/{{key}}">
              <i class="icon ion-ribbon-b"></i>
              {{value.configuracao.nome}}
              <p>Chave: <strong>{{value.configuracao.senha}}</strong></p>
              <span class="badge badge-assertive">{{value.configuracao.participantes}}</span>
            </ion-item>
      </ion-list>

</ion-content>
    <button class="button button-float" ng-click="showActionsheet()">
        <i class="icon ion-plus"></i>
      </button>

</ion-view>