<ion-view view-title="{{'TEMPORADAS'|translate}}">
  <ion-content>
  	<div class="item item-divider">
   	 {{'OFICIAL'|translate}}
  	</div>
    <ion-list>
	  <ion-item class="item item-avatar" ng-repeat="(key, value) in temporadas track by $index" href="#/app/temporadasTorneio/{{key}}">
	  	<img src="venkman.jpg">
	    <h2>{{value.nome}}</h2>
	    <!-- <p>Inicio: {{value.configuracao.dataInicio | date:'dd/MM/yyyy'}}</p>
	    <p>Fin: {{value.configuracao.dataFim | date:'dd/MM/yyyy'}}</p> -->
	    <p>Status: {{status | filtroAbertoFechado}}</p>
	    <p>Temporada Inicial: {{temporadaInicial}}</p>
	    <p ng-repeat="lang in value.premio.descricao track by $index" ng-if="$index == idioma">Premio: {{lang.nome}}</p>
	  </ion-item>
	</ion-list>
  </ion-content>
</ion-view>