<ion-view view-title="Copas">
<ion-nav-buttons side="secondary">      
        <button class="button button-icon icon ion-loop" ng-click="prova()"></button>
  </ion-nav-buttons>
	<ion-content ng-controller="CtrlCopas as vm" overflow-scroll="true" id="imagebg">
	<!--
		<main>
			<section>
				<div id="carousel-5" class="carousel-wrapper">
					<a-carousel 
					id="tamanho"
					carousel-options="::vm.carouselOptions6"
					array-provider="::vm.carouselData6"
					on-select="vm.onSelectCarousel(item)">
					</a-carousel>
				</div>
				<h4> Current selection: <strong>{{vm.itemSelected.idTorneio}}</strong></h4>
			</section>
		</main>
		-->
		 <hscroller>
        <hcard ng-repeat="item in items" index="{{$index}}" desc="{{item.idTorneio}}" image="{{item.img}}"></hcard>
      </hscroller>
	</ion-content>
</ion-view>
