<ion-view view-title="Copas">
<ion-nav-buttons side="secondary">      
        <button class="button button-icon icon ion-loop" ng-click="prova()"></button>
  </ion-nav-buttons>
	<ion-content ng-controller="CtrlCopas" overflow-scroll="true" id="imagebg">
	<br />
		 <hscroller>

        <hcard ng-repeat="item in items track by $index" index="{{$index}}" desc="{{item.desc}}" image="{{item.img}}" url="#/app/temporadasTorneio/{{item.url}}"></hcard>
        </a>
              </hscroller>
	</ion-content>
</ion-view>
