<ion-view view-title="Inicio" ng-init="showPopup()">
  <ion-nav-buttons side="secondary">      
      <a class="button button-icon icon ion-help-circled" ng-click="popover.show($event)"></a>

  </ion-nav-buttons>
  <ion-content  id="imagebg">
    <h1>Inicio</h1>
       <br />
        {{fecha | date:"dd/MM/yyyy HH:mm a" : 'UTC'}}
    <script id="templates/popover.html" type="text/ng-template">
    <ion-popover-view style="height: 330px;">
      <ion-content>
        <ion-list>
          <ion-item class="item item-icon-left verdeOriginal" ng-href="#/tab/regras" ng-click="cerrarMenu()">
            <i class="icon ion-clipboard"></i>{{'REGRAS' | translate}}
          </ion-item>          
          <ion-item class="item item-icon-left verdeOriginal" ng-href="#/app/conquistas" ng-click="cerrarMenu()">
            <i class="icon ion-ribbon-a"></i>{{'CONQUISTAS' | translate}}
          </ion-item>
          <ion-item class="item item-icon-left verdeOriginal" ng-href="#/app/configuracao" ng-click="cerrarMenu()">
            <i class="icon ion-gear-b"></i>{{'CONFIGURACAO' | translate}}
          </ion-item>
          <ion-item class="item item-icon-left verdeOriginal" ng-href="#/app/administracao" ng-click="cerrarMenu()" ng-if="admin">
            <i class="icon ion-gear-b"></i>Administracao
          </ion-item>
          <div class="padding">         
          <hr>
            <span><strong>Desafio Fifa 17</strong><span class="gris fontepequena">v:2.0.2</span></span><hr>
            {{'DESENVOLVIDOPOR' | translate}}<br />
            <span><strong>Tércio Santos</strong></span>
            <p>tsantos@desoft.mx</p>
          </div>          
        </ion-list>

      </ion-content>
    </ion-popover-view>
  </script>
  </ion-content>
</ion-view>