<ion-view view-title="Inicio" ng-init="showPopup()">
  <ion-nav-buttons side="secondary">      
     <button class="button button-icon icon ion-help-circled" ng-click="abrirAjuda()"></button>
     <button class="button button-icon icon  ion-android-more-vertical" ng-click="popover.show($event)"></button>
  </ion-nav-buttons>
  <ion-content  id="imagebg">
    <div class="text-center padding">
      <img class="resizeMed" src="img/goalone.png">
      <br />
      <p class="branco">Benvindo ao desafio mais completo do Fifa 17! Participe dos desafios no FUT, Temporadas, Copas ou crie seu porprio Torneio no formato de Campeonato ou Copa.</p>
    </div>
    <!--
    <h5 class="padding">{{push}}</h5>
    <button class="button button-block button-calm" ng-click="inscribir()">{{buttonPush}}</button>
    -->
    <div class="row">
    <!--
      <div class="col col-33 center vermelhoapp padding ">
      <a href="#/app/temporadasUT">
        <div class="darkbg padding">
        <img class="resizeMed" src="img/icon/temporadasutg.png" />
        <div>UT</div>
      </div>
      </a>
    </div>
    -->
    <div class="col col-50 center vermelhoapp padding" >
    <a href="#/app/temporadas">
      <div class="darkbg padding" >
      <img class="resizeMed" src="img/icon/temporadasg.png" />
        <div>Temporadas</div>
      </div>
      </a>
    </div>
    <div class="col col-50 center vermelhoapp padding">
    <a href="#/app/torneiosTodos">
      <div class="darkbg padding" >
        <img class="resizeMed" src="img/icon/torneiog.png" />
        <div>Torneios</div>
      </div>
    </div>
    </a>
  </div>
  <script id="templates/popover.html" type="text/ng-template">
    <ion-popover-view style="height: 330px;">

      <ion-content class="grisbg">
        <ion-list>
          <ion-item class="item item-icon-left verdeOriginal" ng-href="#/tab/regras" ng-click="cerrarMenu()">
            <i class="icon ion-clipboard"></i>{{'REGRAS' | translate}}
          </ion-item>          
          <ion-item class="item item-icon-left verdeOriginal" ng-href="#/app/conquistas" ng-click="cerrarMenu()">
            <i class="icon ion-ribbon-a"></i>{{'CONQUISTAS' | translate}}
          </ion-item>
          <ion-item class="item item-icon-left verdeOriginal" ng-href="#/app/configuracao" ng-click="cerrarMenu()">
            <i class="icon ion-gear-b"></i>{{'CONFIGURACAO' | translate}}
          </ion-item>
          <ion-item class="item item-icon-left verdeOriginal" ng-href="#/app/administracao" ng-click="cerrarMenu()" ng-if="admin">
            <i class="icon ion-gear-b"></i>Administracao
          </ion-item>
          <div class="padding">         
            <hr>
            <span><strong>Desafio Fifa 17</strong><span class="fontepequena">v:2.1.65</span></span><hr>
            {{'DESENVOLVIDOPOR' | translate}}<br />
            <span><strong>Tércio Santos</strong></span>
            <p>tsantos@desoft.mx</p>
          </div>          
        </ion-list>
      </ion-content>
    </ion-popover-view>
  </script>
      <script id="modalInicio.html" type="text/ng-template">
      <ion-modal-view class="semfondo">
       
        <ion-content class="padding fondo">
         <p >Temporadas Regulamento</p>  
          
        </ion-content>
         <ion-footer-bar class="semfondo">
<button class="subir button button-block button-balanced" ng-click="modal.hide()">Ok</button>      
    </ion-footer-bar>
      </ion-modal-view>
    </script>
</ion-content>
</ion-view>