<ion-view view-title="Sobre"> 
  <ion-content class="grisbg">
  <div class="padding branco" style="text-align: justify;">
  <h5 class="branco">Plataforma DreamsLeague</h5>
  <p>A ideia de criar uma plataforma que possibilite a disputa de torneios entre amigos e contra pessoas desconhecidas que jogam os modos Temporadas ou Ultimate Team surgiu de maneira gradual. A partir de vários torneios organizados entre amigos, fazendo uso de diversas plataformas para gerenciar as tabelas de classificação, identificamos falhas e necessidades de aprimoramentos nessas plataformas. Além disso, criamos um novo conceito de torneio, o Desafio Temporadas, no qual os jogadores competem através de conquistas que são geradas de acordo com os resultados e estatísticas dos jogos disputados no modo Temporadas. Cada conquista é convertida em pontos, e assim o usuário que somar mais pontos ao final do torneio, vence o campeonato.</p>

<p>Nosso objetivo é criar uma experiência única e inovadora para nossos usuários. Temos o compromisso de sempre ouvir críticas, opiniões e sugestões, visando assim um aprimoramento constante, sempre em busca da evolução.</p>

<p>Para alcançar nosso objetivo, utilizamos de muita organização, disposição, trabalho em equipe e vontade de evoluir.
</p>
<h5 class="branco">Equipe DreamsLeague</h5>
<li><strong>Tércio Santos, GT Benbaodan,</strong> professor, apaixonado por sistemas, coordenador e desenvolvedor do WebApp.</li>
<li><strong>Lucas Diniz, GT Lucas11Diniz,</strong>  22 anos, estudante, flamenguista, atua como Diretor de Marketing em nossa equipe.</li>
</div>
  </ion-content>
</ion-view>