<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-dark">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" class="bgmenu">
  <!--
    <ion-header-bar class="bar-dark">
      <h1 class="title">v:2.1.1</h1>
    </ion-header-bar>
    -->
    <ion-content >
    <div class="text-center padding-top">
     <img class="resizeMedMenu" src="img/goalone.png">
    </div>
    <div class="padding esquerdo">
      <ion-list>        
        <ion-item menu-close href="#/app/inicio">
        <i class="icon fa fa-gamepad"></i> 
          {{'HOME' | translate}}
        </ion-item>

        <!--
         <ion-item menu-close href="#/app/temporadasChampions">

          <i class="icon"><img class="icon-menu" src="img/icon/temporadasfut.png"/> </i>
          FUT Champions
        </ion-item>
      
            <ion-item menu-close href="#/app/temporadasUT">
          <i class="icon"><img class="icon-menu" src="img/icon/temporadasutb.png"/> </i>
          {{'DESAFIOS'|translate}} UT
        </ion-item>
          -->

        <!--<ion-item menu-close href="#/app/temporadas"> -->
          <!-- <i class="icon fa fa-shield"></i>-->
          <!-- <i class="icon"><img class="icon-menu" src="img/icon/temporadasb.png"/> </i>
          {{'DESAFIOS'|translate}} {{'TEMPORADAS' | translate}}
        </ion-item>       -->
        <!--
        <ion-item  menu-close href="#/app/copas">
          <i class="icon"><img class="icon-menu" src="img/icon/copab.png"/> </i>
          {{'DESAFIOS'|translate}} {{'COPAS' | translate}}
        </ion-item>
        -->

        <ion-item  menu-close href="#/app/torneiosCopa">
          <i class="icon"><img class="icon-menu" src="img/icon/copab.png"/> </i>
         {{'MATA' | translate}} (Teste)
        </ion-item>
         <ion-item menu-close href="#/app/torneiosTodos">
         <i class="icon"><img class="icon-menu" src="img/icon/torneiob.png"/> </i>
          {{'TORNEIOS'| translate}}        
        </ion-item>
         <ion-item  menu-close href="https://www.facebook.com/DreamsLeagueOficial/">
          <i class="icon fa fa-facebook-official"></i>
          Facebook
        </ion-item>
        <ion-item menu-close href="#/app/login">
        <i class="icon fa fa-sign-in"></i> 
          Login
        </ion-item>
      </ion-list>
      </div>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
