<ion-view hide-back-button="true" hide-nav-bar="true">
  <ion-content class="padding">


    <div class="list text-center padding">
      <!--<img class="resizePeq" src="{{imagenGt}}">-->

      <h3><span class="bold">{{'REGISTRO' | translate}}</span></h3>
      <!--
      <h4 class="line-height-160">We're so glad to have you join us! Awesomeness begins with you.</h4>
      -->
    </div>
    <p>{{ 'ANTESREGISTRO' | translate}}</p>
    <form name="gtForm" novalidate ng-submit="gtForm.$valid && buscarGamertag(gamertag)" >
    <div class="row">
      <div class="col col-75">
        <label class="item item-input" style="border-radius:5px; margin-bottom: 10px;">
            <span class="input-label">Gamertag:</span>
            <input name="text" type="text" ng-change="cambioEntrada()" ng-model="gamertag" placeholder="Gamertag" ng-minlength="5" ng-maxlength="30" required>
          </label>
      </div>
      <div class="col col-25">
        <button type="submit" value="Enviar" class="button button-balanced icon ion-search" ng-disabled="gtForm.$invalid"></button>
      </div>
      </div>
        <div class="row" ng-if="gtValido">
          <div class="col col-25">
            <img class="resizePeq" src="{{imagenGt}}">
          </div>
          <div class="col col-10">
          </div>
          <div class="col col-65">
            <h4 class="verde">{{gamertag}}</h4>
            <p class="gris">{{'GAMERTAGOK' | translate}}</p>
          </div>
          </div>
        <!--
        <div align="center" class="card" ng-if="!gtValido">
          <h3  class="vermelho">{{msg}}</h3>
        </div>
        -->
    </form>
    <form name="registerForm" novalidate ng-submit="registerForm.$valid && register(user)" ng-if="gtValido">
      <div class="list">        
        
        <label class="item item-input" style="border-radius:5px; margin-bottom: 10px;">
          <span class="input-label">Email:</span>
          <input name="email" type="email" ng-model="user.email" placeholder="Email" ng-minlength="5" ng-maxlength="30" required>
        </label>
        <label class="item item-input" style="border-radius:5px; margin-bottom: 10px;">
          <span class="input-label">{{'SENHA' | translate}}:</span>
          <input name="password" type="password" ng-model="user.password" placeholder="{{'SENHA' | translate}}" ng-minlength="5" ng-maxlength="30" required>
        </label>         
        <input type="submit" value="Enviar" class="button button-block button-positive" ng-disabled="registerForm.$invalid" />
      </div>
    </form>

    <!-- <button onclick="location.href='#/app/login';" class="button button-assertive button-block button-no-margin-top">{{'VOLTAR' | translate}}</button> -->
    <button class="button button-assertive button-block" ng-click="closeLogin()">{{'VOLTAR' | translate}}</button>
  </ion-content>
</ion-view>
