<ion-view ng-init="carregarDados()" view-title="{{'MATAMATA' | translate}}" >

<ion-nav-buttons side="secondary">      
 <button class="button button-icon icon  ion-android-more-vertical" ng-click="popover.show($event)" ng-show="eCriadorSuper"></button>
</ion-nav-buttons>
<ion-tabs class="tabs-dark tabs-icon-top" >
<ion-tab title="Configurar" icon-on="ion-ios-football" icon-off="ion-ios-football-outline" ng-if="noInscritos">
<ion-content id="imagebg">
  <br />
  <br />
    <div ng-if="noInscritos" class="padding center" >
    <h5 class="laranja">Jogos de ida e volta?</h5> 
    <div>
       <label class="item item-input item-select">
  <div class="input-label">
    Selecione
  </div>
  <select ng-model="idaVoltaSelecion" ng-change="selecionIdaVolta(idaVoltaSelecion)">
    <option value="N">Não</option>
    <option value="S">Sim</option>
  </select>
</label>
     </div>
     <div ng-if="idaVoltaSelecion == 'S'">
     <h5 class="laranja">Criterio de desempate com gols fora de casa?</h5> 
    <div>
       <label class="item item-input item-select">
  <div class="input-label">
    Selecione
  </div>
  <select ng-model="criterioDesempate" ng-change="selecionCriterioDesempate(criterioDesempate)">
    <option value="N">Não</option>
    <option value="S">Sim</option>
  </select>

</label>
     </div>
     </div>
     <h5 class="laranja">{{'ADICIONARPARTICPANTES' | translate}}</h5>       
     <div ng-repeat="input in inputs">
       <div class="row">
         <div class="col col-10">
           <h3 class="laranja">{{$index + 1}}</h3>
         </div>
         <div class="col col-80">
          <label class="item item-input">
            <input type="text" ng-model="input.value" placeholder="{{'NOMEGAMERTAG' | translate}}">
          </label>
        </div>      
        <div class="col col-10">
          <div ng-if="inputs.length < participantes">
          <button  class="button button-small button-energized" ng-if="$index == inputs.length - 1" 
          ng-click="addInput(input.value)">+</button>
          </div>
          <button class="button button-small button-energized" ng-if="$index != inputs.length - 1"
          ng-click="removeInput($index)">-</button>
        </div>
      </div>

    </div>
    <button class="button button-block button-balanced" ng-disabled="inputs.length < participantes" ng-click="enviarDatos()">
      {{'SORTEARCONFRONTOS'|translate}}
    </button>

  </div>
</ion-tab>
<ion-tab title="Final" icon-on="ion-ios-football" icon-off="ion-ios-football-outline" ng-if="quartas">
<ion-content id="imagebg">
  <br />
  <br />
  <h3>Quartas</h3>
</ion-tab>
 <ion-tab title="Semifinal" icon-on="ion-ios-football" icon-off="ion-ios-football-outline" ng-if="semifinal">
   <ion-content id="imagebg"> 
    <br />
  <br />
  <div ng-show="!noInscritos">  


   <div class="button-bar bar-dark" ng-show="!noInscritos && eCriador">      
    <button class="button footer" ng-click="verChaveAcesso()">
     <!-- {{'CHAVE'| translate}}-->
     <i class="icon ion-key"></i>
   </button>


   <button class="button" id="button" ng-click="capturarTela()">
    <!--{{'ADICIONARADMIN'|translate}}-->
    <i class="icon ion-android-share-alt"></i>
  </button>
  <button class="button" ng-click="atualizarRanking()">
    <!--{{'ATUALIZAR'|translate}}-->
    <i class="icon ion-loop"></i>
  </button>
</div>


    <div ng-if="participantes > 3">
    <h5 class="laranja padding">Jogos de Ida</h5>

    <div class="row">
      <div class="center letraTamanhoJogo col col-{{dimensionColumnaC1ida}}">{{jogosSemi.confronto1.jogador1}} </div>
    </div>
      <div class="row">
        <div class="col col-{{dimensionColumnaC1ida}} center">
          <in class="letraTamanhoJogo">
          <re ng-if="jogosSemi.confronto1.ida.golsJ1 != 'x'">{{jogosSemi.confronto1.ida.golsJ1}} 
          </re > x 
          <re ng-if="jogosSemi.confronto1.ida.golsJ2 != 'x'">{{jogosSemi.confronto1.ida.golsJ2}}</re> </in>
        </div>
         <div class="col col-20" ng-show="eCriador && confronto1VoltaGolsj1">            
          <a class="btnEdit" 
           ng-click="editarJogo('semifinal','ida','confronto1', jogosSemi.confronto1.jogador1, jogosSemi.confronto1.jogador2)"><img src="img/edit.png"/></a>
        </div>
      </div>
       <div class="row">
        <div class="center letraTamanhoJogo col col-{{dimensionColumnaC1ida}}">{{jogosSemi.confronto1.jogador2}}</div>
      </div>
      <!--
      <div class="padding" ng-if="confronto1SemiFinalizadoIda">
      <div ng-if="jogosSemi.confronto1.ida.golsJ1 == jogosSemi.confronto1.ida.golsJ2 && !eIdaVolta">
      <in class="laranja">No caso de empate, jogue uma nova partida.
O resultado dessa nova partida deverá ser postado outra vez.</in>
      </div>      
      </div>
      -->
    
      <div class="padding">
      <hr>
      </div>
        <div class="row">
      <div class="center letraTamanhoJogo col col-{{dimensionColumnaC2ida}}">{{jogosSemi.confronto2.jogador1}} </div>
    </div>
      <div class="row">
      <div class="col col-{{dimensionColumnaC2ida}} center">
      <in class="letraTamanhoJogo">
      <re ng-if="jogosSemi.confronto2.ida.golsJ1 != 'x'">{{jogosSemi.confronto2.ida.golsJ1}} 
      </re> X 
      <re ng-if="jogosSemi.confronto2.ida.golsJ2 != 'x'">{{jogosSemi.confronto2.ida.golsJ2}}
      </re></in>
      </div>
         <div class="col col-20" ng-show="eCriador && confronto2VoltaGolsj1">            
          <a class="btnEdit"
           ng-click="editarJogo('semifinal','ida','confronto2', jogosSemi.confronto2.jogador1, jogosSemi.confronto2.jogador2)"><img src="img/edit.png"/></a>
        </div>
      </div>
       <div class="row">
        <div class="center letraTamanhoJogo col col-{{dimensionColumnaC2ida}}"> {{jogosSemi.confronto2.jogador2}}</div>
      </div>
       <div class="padding" ng-if="confronto2SemiFinalizadoIda">
      <div ng-if="jogosSemi.confronto2.ida.golsJ1 == jogosSemi.confronto2.ida.golsJ2 && !eIdaVolta">
      <in class="laranja">No caso de empate com o mesmo placar, jogue uma nova partida.
O resultado dessa nova partida deverá ser postado outra vez.</in></div>
      </div>





      <h5 class="laranja padding" ng-if="eIdaVolta">Jogos de Volta</h5>
      <div ng-if="eIdaVolta">
      <div class="row">
        <div class="center letraTamanhoJogo col col-{{dimensionColumnaC1Volta}}">{{jogosSemi.confronto1.jogador2}} </div>
      </div>
      <div class="row" ng-if="jogosSemi.confronto1.volta != undefined">
        <div class="col col-{{dimensionColumnaC1Volta}} center">
          <in class="letraTamanhoJogo">
          <re ng-if="jogosSemi.confronto1.volta.golsJ2 != 'x'">{{jogosSemi.confronto1.volta.golsJ2}} 
          </re > X 
          <re ng-if="jogosSemi.confronto1.volta.golsJ1 != 'x'">{{jogosSemi.confronto1.volta.golsJ1}}
          </re></in>
          </div>
           <div class="col col-20" ng-show="eCriador && jogosSemi.confronto1.ida.golsJ1 != 'x' && jogoFinal.confronto.ida.golsJ1 == 'x'">            
            <a class="btnEdit"
           ng-click="editarJogo('semifinal','volta','confronto1', jogosSemi.confronto1.jogador2, jogosSemi.confronto1.jogador1)"> <img src="img/edit.png"/></a>
      </div>
      </div>
           <div class="row">
        <div class="center letraTamanhoJogo col col-{{dimensionColumnaC1Volta}}"> {{jogosSemi.confronto1.jogador1}}</div>
      </div>
       <div class="padding" ng-if="jogosSemi.confronto1.volta != undefined && jogosSemi.confronto1.volta.golsJ1 != 'x'">
      <div ng-if="empateJogosC1 && eIdaVolta">
      <in class="laranja">No caso de empate com o mesmo placar nos dois jogos(ida e volta) ou placar opostos(exemplo: 2 a 1 na ida e 1 a 2 na volta), jogue uma nova partida.
O resultado dessa nova partida deverá ser postado no lugar do "JOGO DE VOLTA" somando o placar do jogo antigo com o placar do novo jogo.</in></div>
      
      </div>
       <div class="padding">
      <hr>
      </div
      <div class="row">
      <div class="center letraTamanhoJogo col col-{{dimensionColumnaC2Volta}}">{{jogosSemi.confronto2.jogador2}}</div>
    
      <div class="row" ng-if="jogosSemi.confronto2.volta != undefined">
      <div class="col col-{{dimensionColumnaC2Volta}}  center">
      <in class="letraTamanhoJogo"> 
      <re ng-if="jogosSemi.confronto2.volta.golsJ2 != 'x'">{{jogosSemi.confronto2.volta.golsJ2}} 
      </re> X 
      <re ng-if="jogosSemi.confronto2.volta.golsJ1 != 'x'">{{jogosSemi.confronto2.volta.golsJ1}}
      </re></in>
      </div>
       <div class="col col-20" ng-show="eCriador && jogosSemi.confronto2.ida.golsJ1 != 'x' && jogoFinal.confronto.ida.golsJ1 == 'x'">            
          <a class="btnEdit"
           ng-click="editarJogo('semifinal','volta','confronto2', jogosSemi.confronto2.jogador2, jogosSemi.confronto2.jogador1)"> <img src="img/edit.png"/></a>
        </div>
      </div>
        <div class="row">
        <div class="center letraTamanhoJogo col col-{{dimensionColumnaC2Volta}}">  {{jogosSemi.confronto2.jogador1}}</div>
      </div>
      <div class="padding" ng-if="jogosSemi.confronto1.volta != undefined && jogosSemi.confronto2.volta.golsJ1 != 'x'">
       <div ng-if="empateJogosC2 && eIdaVolta">
      <in class="laranja">No caso de empate com o mesmo placar nos dois jogos(ida e volta) ou placar opostos(exemplo: 2 a 1 na ida e 1 a 2 na volta), jogue uma nova partida.
O resultado dessa nova partida deverá ser postado no lugar do "JOGO DE VOLTA"  somando o placar atual com o placar da nova partida.</in></div>
      </div>
      </div>
      </div>
      </div>

</ion-content>
</ion-tab>

<ion-tab title="Final" icon-on="ion-ios-football" icon-off="ion-ios-football-outline" ng-if="final">
<ion-content id="imagebg">
  <br />
  <br />
  <h3 align="center" class="letraTamanhoJogo"> Final </h3>
  <div ng-if="!desbloqueaFinal">
   <p align="center"><i class="icon ion-alert-circled laranja tamanhoIcon"></i></p>
  <h4 class="center padding laranja">A Final ainda está bloqueada. </h4>
  <div class="padding laranja">
  <h5 class="center laranja">Para desbloquear a final:</h5>
  <li>Todos os jogos devem ser concluídos;</li>
  <li>Nos jogos só de ida, caso o placar seja empate, jogue outra partida e edite o resultado do Jogo de Ida;</li>
  <li>Nos jogos de ida e volta, caso o placar dos dois jogos sejam iguais, jogue outra partida e edite o resultado no Jogo de Volta.</li>
  </div>
  </div>

  <div ng-if="desbloqueaFinal">
  <div>
        <h5 class="laranja padding">Jogo de Ida</h5>

    <div class="row">
      <div class="center letraTamanhoJogo col col-{{dimensionColumnaIdaFinal}}">{{jogoFinal.confronto.jogador1}} </div>
    </div>
      <div class="row">
        <div class="col col-{{dimensionColumnaIdaFinal}} center">
          <in class="letraTamanhoJogo">
          <re ng-if="jogoFinal.confronto.ida.golsJ1 != 'x'">{{jogoFinal.confronto.ida.golsJ1}} 
          </re > x 
          <re ng-if="jogoFinal.confronto.ida.golsJ2 != 'x'">{{jogoFinal.confronto.ida.golsJ2}}</re> </in>
        </div>
         <div class="col col-20" ng-if="eCriador && verBtnFinal">            
          <a class="btnEdit" 
           ng-click="editarJogoFinal('final','ida','confronto', jogoFinal.confronto.jogador1, jogoFinal.confronto.jogador2)"><img src="img/edit.png"/></a>
        </div>
      </div>
       <div class="row">
        <div class="center letraTamanhoJogo col col-{{dimensionColumnaIdaFinal}}">{{jogoFinal.confronto.jogador2}}</div>
      </div>
      <div class="padding" ng-if="jogoFinal.confronto.volta.golsJ1 != 'x'">
      <div ng-if="jogoFinal.confronto.ida.golsJ1 == jogoFinal.confronto.ida.golsJ2 && !eIdaVolta">
      <in class="laranja">No caso de empate, jogue uma nova partida.
O resultado dessa nova partida deverá ser postado outra vez.</in>
      </div>
      
      </div>
      <div class="padding">
      <hr>
  </div>
  </div>

    <div ng-if="eIdaVolta">
        <h5 class="laranja padding">Jogo de Volta</h5>

    <div class="row">
      <div class="center letraTamanhoJogo col col-{{dimensionColumnaIdaVolta}}">{{jogoFinal.confronto.jogador2}} </div>
    </div>
      <div class="row">
        <div class="col col-{{dimensionColumnaIdaVolta}} center">
          <in class="letraTamanhoJogo">
          <re ng-if="jogoFinal.confronto.volta.golsJ2 != 'x'">{{jogoFinal.confronto.volta.golsJ2}} 
          </re > x 
          <re ng-if="jogoFinal.confronto.volta.golsJ1 != 'x'">{{jogoFinal.confronto.volta.golsJ1}}</re> </in>
        </div>
         <div class="col col-20" ng-show="eCriador && !campeao">            
          <a class="btnEdit"
           ng-click="editarJogoFinal('final','volta','confronto', jogoFinal.confronto.jogador2, jogoFinal.confronto.jogador1)"><img src="img/edit.png"/></a>
        </div>
      </div>
       <div class="row">
        <div class="center letraTamanhoJogo col col-{{dimensionColumnaIdaVolta}}">{{jogoFinal.confronto.jogador1}}</div>
      </div>

      <div class="padding" ng-if="jogoFinal.confronto.volta.golsJ1 != 'x'">
      <div ng-if="jogoFinal.confronto.volta.golsJ1 == jogoFinal.confronto.volta.golsJ2 && eIdaVolta">
      <in class="laranja">No caso de empate, jogue uma nova partida.
O resultado dessa nova partida deverá ser postado outra vez.</in>
      </div>
      
      </div>
      <div class="padding">
      <hr>
     
  </div>
  </div>
   <div class="padding" ng-if="finalizaMataBtn">
      <p class="laranja center">Depois de enviar o jogo de volta, para determinar o campeão, finalize o Mata-mata</p>
      <button ng-disabled="finalizaMata" class="button button-block button-balanced" ng-click="finalizarMataMata()">Finalizar Mata-mata</button>
    </div>

  </div>
</ion-tab>
<ion-tab title="Campeão" icon-on="ion-trophy" icon-off="ion-trophy" ng-if="campeao">
<ion-content id="imagebg">
  <br />
  <br />
     <div class="center "><img class="resizeTotal" src="img/dlcampeao.png"/></div>
  
  <br>
  <br>
   <p align="center"><img src="img/50.png"/></p>
   <br />
   <div align="center" class="laranja fontgrande"><b>  {{jogoFinal.confronto.vencedor}}</b></div>
   <div class="center "><img class="resizeTotal" src="img/ecampeao.png"/></div>

  </ion-content>
  </ion-tab>
<!--
 <ion-tab title="{{'EDITORES' | translate}}" icon-on="ion-ios-personadd" icon-off="ion-ios-personadd-outline" ng-show="eCriadorSuper">
   <ion-content id="imagebg"> 
    <br />
    <br />
    <div ng-show="noInscritos" class="padding center" >


  </div>
  <div ng-show="!noInscritos">

  <button class="button button-block button-energized" ng-click="abrirAddAdmin()">+ {{}}</button>

  </div>
</ion-content>
</ion-tab>
-->
<script id="templates/popoverTorneio.html" type="text/ng-template">
<ion-popover-view style="height: 120px;">
  <ion-content class="grisbg">
    <ion-list>
      <ion-item class="item item-icon-left branco" ng-click="abrirAddAdmin()">
        <i class="icon ion-plus-circled"></i>{{'ADICIONARADMIN' | translate}}
      </ion-item>          
      <ion-item class="item item-icon-left branco" ng-click="abrirModalEditor()">
        <i class="icon ion-close-circled"></i>{{'ELIMINARADMIN' | translate}}
      </ion-item>           
    </ion-list>
  </ion-content>
</ion-popover-view>
</script>
<script id="popup-editarjogo.html" type="text/ng-template">    
<!-- <p align="center"><i class="icon ion-ribbon-b cinza  tamanhoIcon"></i></p> -->
<p align="center"><strong>Confronto</strong></p>

  <div class="center">
    <h4>{{jogador1}}</h4> 
  </div>



<div class="row">
  <!-- -->
  <div class="col col-40" align="center">
    <input type="number" name="local" ng-model="data.local" >
  </div>
   <div class="col col-20 center"><h3>{{'X' | translate}}</h3></div>
  <div class="col col-40" align="center">
   <input type="number" name="visitante" ng-model="data.visitante">
 </div>
</div>
 
  <div class="center">
    <h4>{{jogador2}}</h4> 
  </div>
</script>

<script id="popup-buscarEditor.html" type="text/ng-template">    
<!-- <p align="center"><i class="icon ion-ribbon-b cinza  tamanhoIcon"></i></p> -->
<p align="center"><strong>{{'BUSCARADMIN' | translate}}</strong></p>
<div class="list">
  <label class="item item-input">
    <input type="text" ng-model="data.gtKey"  placeholder="Gamertag" name="gamertag">
  </label>
</div>

</script>
<script id="modalEliminarEditor.html" type="text/ng-template">
<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-dark">
    <h1 class="title">{{'EDITORES' | translate}}</h1>
    <button class="button button-clear button-primary" ng-click="cerrarModalEditor()">Cancelar</button>
  </ion-header-bar>
  <ion-content class="padding grisbg">
  <div ng-repeat="item in editores track by $index">
  <div class="row" ng-if="item.keynodo != 'principal'">
  <div class="col col-10">
  </div>
    <div class="col col-70 branco">
    {{item.gt}}
    </div>
    <div class="col col-20 branco">
      <button class="button button-small button-assertive"  ng-click="onDeleteEditor(item.keynodo)"> <i class="icon ion-close-round"></i></button>
    </div>
  </div>
     
      </ion-content>
    </ion-modal-view>
  </script>

</ion-tabs>




</ion-view>